.TopicButton {
  min-width: 200px;
  height: 45px;
  padding: 0 15px;
  margin: 0;
  color: var(--color-text-secondary);
  font-weight: normal;
  font-size: .8rem;
  border-radius: 10px;
  border: 1px solid var(--color-border);
  transition: all .3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TopicButton:hover {
  border: 1px solid var(--color-border-secondary);
  /* background-color: var(--card-bg); */
}

.TopicButton > img {
  width: auto;
  height: 70%;
  border-radius: 0;
  filter: grayscale(100%);
  opacity: .3;
  transition: all .3s ease;
}

.TopicButton:hover img {
  filter: none;
  opacity: 1;
}