.SectionTitle {
  width: 100%;
  padding: 50px;
  margin-top: 50px;
  border-top: 1px solid var(--color-border);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SectionTitle h2 {
  padding: 5px 10px;
  margin: 0;
  color: var(--color-text-secondary);
  font-weight: normal;
  font-size: .8rem;
  border-radius: 7px;
  border: 1px solid var(--color-border-secondary);
  background-color: var(--card-bg);
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}