.Landing {
  width: 100%;
  position: relative;
}

.Landing > .mainTitle {
  width: 100%;
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainTitle .background {
  width: 100%;
  height: 100%;
  background-image:
  linear-gradient(to right, var(--color-border-secondary) 1px, transparent 1px),
  linear-gradient(to bottom, var(--color-border-secondary) 1px, transparent 1px);
  background-size: 25px 25px, 25px 25px;
  mask-image: radial-gradient(black 0%, transparent 80%);
  -webkit-mask-image: radial-gradient(black 0%, transparent 80%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.Landing > .mainTitle h1 {
  margin-bottom: 20px;
  font-size: 6rem;
  text-align: center;
}

.Landing > .mainTitle p {
  max-width: 600px;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.7rem;
  letter-spacing: 2px;
}

.Landing > .mainTitle > p > strong,
.Landing > .mainTitle > p > span {
  color: var(--color-text);
  font-family: 'Courier New', Courier, monospace;
}

.Landing > .mainTitle > p > span {
  background-color: rgba(0, 161, 182, 0.233);
  padding: 3px 7px;
  border-radius: 7px;
}

.Landing .cards {
  width: min(90%, 800px);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 900px) {
  .Landing > .mainTitle {
    height: 500px;
  }

  .Landing > .mainTitle h1 {
    font-size: 5rem;
  }

  .Landing > .mainTitle p {
    max-width: 500px;
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .Landing > .mainTitle {
    height: 500px;
  }

  .Landing > .mainTitle h1 {
    font-size: 4rem;
  }

  .Landing > .mainTitle p {
    max-width: 400px;
    font-size: 1rem;
  }
}

@media (max-width: 478px) {
  .Landing > .mainTitle h1 {
    font-size: 3rem;
  }

  .Landing > .mainTitle p {
    max-width: 90%;
    font-size: .9rem;
  }
}