.Fence {
  margin: 20px 0;
  padding: 10px;
  background: var(--fence-bg);
  border: 1px solid var(--color-border-secondary);
  border-radius: 7px;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.05) inset;
  position: relative;
}

.Fence > pre {
  font-size: .8rem;
}

.Fence .copy {
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform .3s ease;
  position: absolute;
  top: 5px;
  right: 5px;
}

.Fence .copy:hover {
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.075);
}