.TopBar {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid var(--color-border-secondary);
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.TopBar .logo > button {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 3px;
  outline: none;
  background: transparent;
  color: var(--color-text);
  place-content: center;
  cursor: pointer;
  transition: background .3s ease;
  display: none;
}

.TopBar .logo > button:hover {
  background: var(--card-bg);
}

.TopBar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.TopBar .logo svg {
  transform: scale(1.2);
}

.TopBar .logo a {
  color: var(--color-text);
  font-weight: bold;
  letter-spacing: 1px;
}

@media (max-width: 900px) {
  .TopBar {
    padding: 0 30px;
    justify-content: space-between;
  }

  .TopBar .logo > button {
    display: grid;
  }
}