.Navbar {
  min-width: 180px;
  max-width: 200px;
}

.Navbar ul {
  list-style: none;
}

.Navbar a {
  text-decoration: none;
}

.Navbar .topics {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .Navbar .topics.hidden {
  display: none;
} */

.Navbar > .bgModal {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}

.Navbar > .bgModal.active {
  display: block;
}

.Navbar .topics.active {
  min-width: 180px;
  max-width: 250px;
  height: 100%;
  padding: 20px 15px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 102;
  display: block;
}

.Navbar > .bgModal > .container {
  width: 100%;
  max-width: 250px;
  height: 100%;
  background: var(--solid-bg);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
}

@media (max-width: 900px) {
  .Navbar {
    min-width: 0;
  }

  .Navbar .topics {
    display: none;
  }
}